* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    color: white;
    align-items: center;
}

.logo p {
    margin-left: 25px;
}

.logo img {
    width: 70px;
    border-radius: 100px;
}

.navlist {
    display: flex;
}

.navlist a {
    display: block;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    cursor: pointer;
    transform: scale(1.4);
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #78bae4 0%, #427899 28.53%, #427899 28.53%, #25516e 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}

section {
    padding: 0 19%;
}

.hero-text h1 {
    font-size: 80px;
    line-height: 1;
    color: white;
    margin: 0 0 10px;
}

.hero-text h4 {
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin-left: px;
    margin-bottom: 40px;
}

.hero-img img {
    width: 800px;
    height: auto;
    animation: floatAnimation 3s infinite alternate
}

.hero-text a {
    display: inline-block;
    color: white;
    background: #78bae4;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-text a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.wtra {
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.hero-text a.wtra i {
    vertical-align: middle;
    margin-right: 5px;
}

.scroll-down {
    position: absolute;
    bottom: 4%;
    right: 9%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #78bae4;
    border-radius: 30px;
    transition: all .55s ease;
}

.scroll-down i:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #000;
    padding: 0 20px 20px 20px;
    width: 1000px;
}

#videoFrame {
    border: 0;
    width: 960px;
    height: 540px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.close:hover,
.close:focus {
    color: #FF4500;
    text-decoration: none;
    cursor: pointer;
}

@keyframes floatAnimation {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(20px, -40px);
    }
}

@media (max-width: 1734px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }

    .hero-img img {
        width: 560px;
    }

    .icons {
        padding: 0 3%;
        transition: .2s;
    }

    .scroll-down {
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px) {
    .hero-text h1 {
        font-size: 75px;
        margin: 0 0 30px;
    }
}


@media (max-width: 1282px) {
    .hero-img img {
        width: 480px;
    }
}

@media (max-width: 1195px) {
    section {
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text {
        padding-top: 115px;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .scroll-down {
        display: none;
    }
}

@media (max-width: 990px) {
    #menu-icon {
        display: block;
    }

    .hero-img {
        text-align: center;
    }

    .hero-text {
        margin-top: 25%;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .hero-text h4 {
        font-size: 20px;
        margin-left: 5px;
        margin-bottom: 15px;
    }

    .hero-text a {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #78bae4;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px;
        transition: all .55s ease;
    }

    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }

    .navlist.open {
        right: 0;
    }

    .popup-content {
        padding: 0 10px 10px 10px;
        width: 500px;
    }

    #videoFrame {
        width: 480px;
        height: 270px;
    }

    .close {
        font-size: 22px;
        padding-right: 2px;
    }
}

@media (max-width: 680px) {
    .hero-img img {
        width: 100%;
    }

    .logo {
        font-size: 25px;
    }

    .logo img {
        width: 50px;
    }

    .popup-content {
        padding: 0 7px 7px 7px;
        width: 350px;
    }

    #videoFrame {
        width: 336px;
        height: 189px;
    }

    .close {
        font-size: 18px;
        padding-right: 1px;
    }

}