header {
    background: linear-gradient(245.59deg, #78bae4 0%, #427899 28.53%, #427899 28.53%, #25516e 75.52%);
}

.main {
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
}

.main h1 {
    width: 100%;
    position: fixed;
    left: 0;
    top: 300px;
    font-size: 20vh;
    color: #fff;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.main video {
    position: fixed;
    left: 0;
    height: 80vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.bottom {
    position: absolute;
    background: white;
    top: 90vh;
    width: 100%;
}

.scroll-down {
    position: fixed;
}

.bottom p {
    padding: 9vh;
    font-size: 3vh;
    font-weight: 700;
    text-align: center;
    word-spacing: 0.2em;
}

@media (max-width: 990px) {
    .main h1 {
        font-size: 70px;
    }

    .main video {
        position: fixed;
        left: 0;
        top: 0;
        height: 90vh;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .bottom p {
        padding: 20px;
        padding-top: 80px;
        font-size: 15px;
    }
}