header {
    background: linear-gradient(245.59deg, #78bae4 0%, #427899 28.53%, #427899 28.53%, #25516e 75.52%);
}

.main {
    text-align: center;
}

model-viewer {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

@media (max-width: 990px) {
    model-viewer {
        width: 90vw;
        height: 90vh;
    }
}

