header {
    background: linear-gradient(245.59deg, #78bae4 0%, #427899 28.53%, #427899 28.53%, #25516e 75.52%);
}

.main {
    text-align: center;
}

model-viewer {
    width: 100vw;
    height: 90vh;
    margin: 0 auto;
}

#interior{
    display: none;
}

.main a {
    display: inline-block;
    color: white;
    background: #25516e;
    border: 1px solid transparent;
    margin-top: 15px;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
}

.main a:hover {
    cursor: pointer;
    background: #78bae4;
    border: 1px solid #fff;
}

.main a.active{
    background: #78bae4;
    border: 1px solid #fff;
}

@media (max-width: 990px) {
    model-viewer {
        width: 90vw;
        height: 80vh;
    }
}

